[submodule "rednose_repo"]
  path = rednose_repo
  url = ../../commaai/rednose.git
[submodule "body"]
  path = body
  url = ../../commaai/body.git
[submodule "teleoprtc_repo"]
  path = teleoprtc_repo
  url = ../../commaai/teleoprtc
[submodule "tinygrad"]
  path = tinygrad_repo
  url = https://github.com/kommuai/tinygrad
[submodule "opendbc_repo"]
  path = opendbc_repo
  url = https://github.com/kommuai/opendbc
[submodule "panda"]
  path = panda
  url = https://github.com/kommuai/panda
[submodule "msgq_repo"]
	path = msgq_repo
	url = https://github.com/kommuai/msgq
